DirectoryIndex app/home.php
RewriteEngine On

#changeProject
RewriteRule ^home /project/app/home.php [L]
RewriteRule ^contact /project/app/contact.php [L]
RewriteRule ^service /project/app/service.php [L]
RewriteRule ^team /project/app/team.php [L]
RewriteRule ^about /project/app/about.php [L]
RewriteRule ^blog /project/app/blog.php [L]
RewriteRule ^demo /project/app/demo.php [L]



RewriteRule ^website /project/sub/website.php [L]
RewriteRule ^graphics /project/sub/graphics.php [L]
RewriteRule ^seo /project/sub/seo.php [L]
RewriteRule ^digital-marketing /project/sub/digital-marketing.php [L]
RewriteRule ^b2b-lead /project/sub/b2b-lead.php [L]


RewriteRule ^web-design /project/sub/web-design.php [L]
RewriteRule ^web-developmen /project/sub/web-developmen.php [L]



RewriteRule ^page /project/sub/page.php [L]






RewriteRule ^cofb_admin /project/create_admin/parmition.php [L]
RewriteRule ^admin_ok /project/create_admin/contolPage.php [L]

RewriteRule ^core.php?$ /test.php [L,NC]

